:root {
  font-family: "Roboto Condensed", Arial;
  color: white;
  --default-img-opacity: 0.5;
}

*::selection {
  background: darkblue;
}

body {
  background-color: rgb(51, 102, 255);
}

.logo {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.speaker {
  width: 30px;
  height: 30px;
  filter: invert(1);
  float: right;
  position: relative;
  top: -64px;
}

.stopwatch {
  width: 30px;
  height: 30px;
  filter: invert(1);
  float: right;
  position: relative;
  top: -64px;
  left: -8px;
  opacity: 0.5;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  width: 200px;
  margin: 15px 5px 15px;
  text-align: center;
}

.centered-layout {
  margin: 0 auto;
  width: 420px;
}

.sound {
  width: 150px;
  height: 150px;
  filter: invert(1);
}

.slider-container {
  width: 90%;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 3px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
  visibility: hidden;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

#image1, #image2, #image3, #image4, 
#image5, #image6, #image7, #image8,
#image9, #image10, #image11, #image12,
#image13, #image14 {
  opacity: var(--default-img-opacity);
}

/* Gallery section */

.gallery {
  background-color: rgb(0, 0, 0, 0.4);
  height: 185px;
  max-width: 700px;
  overflow-x: auto;
  overflow-y: hidden;
  border-top-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.flex-container-gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-container-gallery > div {
  height: 175px;
  width: auto;
  margin: 5px 2.5px;
}

.img-gallery {
  height: 158px;
  width: auto;
}

.img-gallery:hover {
  opacity: 0.7;
}

#imgGalleryId1, #imgGalleryId2, #imgGalleryId3, #imgGalleryId4, 
#imgGalleryId5, #imgGalleryId6, #imgGalleryId7, #imgGalleryId8, 
#imgGalleryId9, #imgGalleryId10 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#closeId1, #closeId2, #closeId3, #closeId4, #closeId5, 
#closeId6, #closeId7, #closeId8, #closeId9, #closeId10 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#closeId1:hover, #closeId2:hover,  #closeId3:hover,  #closeId4:hover,  
#closeId5:hover,  #closeId6:hover,  #closeId7:hover,  #closeId8:hover,  
#closeId9:hover,  #closeId10:hover, #closeId1:focus, #closeId2:focus, 
#closeId3:focus, #closeId4:focus, #closeId5:focus, #closeId6:focus, 
#closeId7:focus, #closeId8:focus, #closeId9:focus, #closeId10:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Timer section */

.intersection {
  margin-top: 10px;
}

#timer-container {
  background-color: rgb(0, 0, 0, 0.4);
  margin-top: 10px;
  height: 133px;
  width: 400px;
  border-top: 2px solid rgb(255, 255, 255);
  margin: 0 auto;
}

input[type=time] {
  padding: 12px 20px;
  margin: 5px 125px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(130, 137, 238);
  color: white;
  font-size: 30px;
  font-family: "Roboto Condensed", Arial;
}

input[type=submit] {
  background-color: rgb(130, 137, 238);
  margin: 0 155px;
  font-family: "Roboto Condensed", Arial;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

#time {
  font-size: 50px;
  display: none;
}