:root {
  font-family: "Roboto Condensed", Arial;
}

body {
  background-color: rgb(8, 16, 40, 0.5);
  margin: 5px;
}

.image-gallery-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.image-gallery-flex-container > div {
  width: 150px;
  height: 70px;
  margin: 5px;
}

.gallery-width {
  width: 160px;
}

img.gallery {
  width: 150px;
  height: 100%;
}

img.gallery:hover {
  opacity: 0.7;
}

.fullscreen:-webkit-full-screen {
  width: auto !important;
  height: auto !important;
  margin:auto !important;
}

.fullscreen:-moz-full-screen {
  width: auto !important;
  height: auto !important;
  margin:auto !important;
}

.fullscreen:-ms-fullscreen {
  width: auto !important;
  height: auto !important;
  margin:auto !important;
} 